*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-color: transparent;
    border: none;
    font-family: 'Urbanist', Courier, monospace;
}



img {
    width: 100%;
}

body {
    background-color: rgba(250, 253, 242, 1);
}

.container {
    max-width: 1920px;
    padding: 0 100px;
    margin: 0 auto;
}

.header {
    background-color: rgba(26, 49, 41, 1);
    border: 1px solid rgba(238, 248, 211, 1);
    padding: 34px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 195px;
}

.header-nav {
    display: flex;
    gap: 25px;
}

.header-nav-btn {
    font-size: 18px;
    font-weight: 600;
    color: rgba(203, 234, 123, 1);
    color: white;
}

.header-nav-menu {
    position: relative;
}

.header-nav-block {
    height: 100px;
    padding: 0 10px;
    color: white;
    text-align: center;
    background-color: rgba(203, 234, 123, 1);
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
}

.vklad-menu--active {
    opacity: 1;
}

.vklad-menu-btn--active {
    color: rgba(203, 234, 123, 1);
}

.banner {
    padding-top: 200px;
    padding-bottom: 80px;
}

.banner-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
}

.banner-descr {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.feedback-block {
    border: 1px solid rgba(238, 248, 211, 1);
    margin-bottom: 30px;
    display: none;
}

.feedback-top {
    padding: 40px;
}

.feedback-bottom {
    padding: 40px;
    background-color: rgba(246, 251, 233, 1);
    display: flex;
    align-items: center;
    gap: 15px;
}

.feedback-image {
    max-width: 60px;
    border-radius: 8px;
}

.feedback-descr {
    font-size: 18px;
    font: 600px;
}

.feedback-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.feedback-pag {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(229, 245, 189, 1);
}

.feedback-next {
    margin-top: -5px;
    transform: rotate(180deg);
    padding: 7px;
    background-color: rgba(229, 245, 189, 1);
}

.feedback-prev {
    padding: 7px;
    background-color: rgba(229, 245, 189, 1);;
}

.pag--active {
    background-color: rgba(53, 101, 84, 1);
}

.block--active {
    display: block;
}

.faq {
    padding-top: 200px;
    position: relative;
    padding-bottom: 140px;
}

.faq-title {
    font-size: 48px;
    font-weight: 700;
    text-align:center;
    margin-bottom: 25px;
}

.faq-descr {
    font-size: 18px;
    font-weight: 500;
    text-align:center;
}

.faq-link {
    position: absolute;
    right: 20px;
    top: 100px;
    color: rgba(203, 234, 123, 1);
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    transition: .8s ease-in-out;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.accard-content {
    padding: 60px;
    width: 100%;
    width: 1700px;
}

.accard-container {
    width: 100%;
}

.accard-block {
    border-bottom: 1px solid rgba(229, 245, 189, 1);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.accard-image {
    width: 48px;
}

.accard-text {
    max-width: 1300px;
}

.accard-question {
    font-size: 20px;
    font-weight: 600px;
    color: rgba(38, 38, 38, 1);
    text-align: left;
}

.accard-otvet {
    font-size: 18px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
    text-align: left;
    display: none;
    margin-top: 25px;
}

.accard-otvet--active {
    display: block;
}

.vklad_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 280px;
}

.vklad_btn{
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #DCF1A7;
    width: 223px;
    height: 67px;
    margin-bottom: 15px;
}

.vklad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tovar__vklad{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 512px;
    height: 450px;
    background-color: #F6FBE9;
    border: 1px solid #EEF8D3;
    padding: 50px;
}

.tovar__top h3{
    font-family: 'semibold';
    font-size: 30px;
    color: #262626;
}

.medium {
    display: flex;
    align-items: center;
}

.medium h3{
    font-family: 'bold';
    font-size: 50px;
}

.button_tovar button{
    font-family: 'bold';
    width: 412px;
    height: 58px;
    border-radius: 8px;
    border: none;
    background-color: #CBEA7B;
}

.tovars{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.tab-btn {
    font-family: 'semibold';
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 6px;

    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

.tab-btn.active,
.tab-btn:hover {
    font-family: 'semibold';
  background-color: #234338;
  color: #ffffff;
}

.tab-pane {
    display: none;
}
  
  .tab-pane.active {
    display: block;
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
} 
 
.modal-content { 
    background-color: var(--Green-85, #1A3129); 
    margin: 15% auto; 
    padding: 30px; 
    border-radius: 10px; 
    max-width: 1597px; 
    text-align: center; 
} 
 
.modal-info { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
} 
 
.modal-box { 
    padding: 30px; 
    width: 325px; 
    height: 141px; 
    font-family: "Meduim"; 
    background-color: var(--Green-95, #234338); 
    border-radius: 8px; 
    color: var(--Green-70, #cbea7b); 
} 
 
.modal-box p { 
    margin: 10px 0 0 0; 
} 
 
.close { 
    color: white; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer; 
} 
 
.close:hover, 
.close:focus { 
    color: #f1f1f1; 
    text-decoration: none; 
    cursor: pointer; 
} 

.faq-link.show { 
    opacity: 1; 
    align-items: center; 
    justify-content: center; 
}